version: '2'
services:
 nginx:
   ports:
     - 80:80
     - 443:443
   build:
     dockerfile: Dockerfile
     context: ./web
   links:
      - php

 php:
   build:
     dockerfile: Dockerfile
     context: ./php
